# operating system files
.DS_Store

# Ignore temporary build artifacts.
# Any top directory that starts with the string "guides" is a
#  DocBook XML guides directory.
# Example: guides_Volume1 and guides_Volume2 in RH299
# Example: guides-extra in RH413 and RH342
guides*/**/pubsnum.xml
guides*/**/subtitle.xml
guides*/publican-*.cfg-*
guides*/tmp

# classroom materials artifacts
classroom/materials/solutions/*.tgz
classroom/materials/labs/*.tgz

classroom/foundation0-do295-*
classroom/ClassroomSetup-DO295-*

# editor-specific files
*~
.*.sw?
.idea
.history
.project

# ignore rally scripts (we only want the .csv files)
rally/*.sh

